.scroll-thumb {
    width: 5px;
    opacity: 0.5;
    transition: width 1s;
    background-color: black;
    min-height: 50px;
}

.scroll-track {
    width: 0;
    opacity: 0.1;
    transition: width 1s;
    background-color: black;
}